/* .grad1{
    height: max-content;
    width: max-content;
    background: #1a66ff; /* For browsers that do not support gradients */
    /* background: linear-gradient(to right,#b3ccff,#ffccee);
} */ 